# App
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_this_secret_in_production

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/capstoneflow?schema=public"

# Optional S3 / Cloud Storage
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION=
# AWS_BUCKET_NAME=
